include requirements*.txt *.rst COPYING setup.cfg

recursive-include docs *
recursive-exclude docs/_build *

recursive-include logbook/base/static *
recursive-include logbook/base/templates *
recursive-include logbook/base/format_elements *
recursive-include logbook/base/format_templates *
recursive-include logbook/base/output_formats *
recursive-include logbook/base/bulletinext/* *
recursive-include logbook/base/converterext/* *
recursive-include logbook/base/documentext/* *
recursive-include logbook/base/editorext/* *
recursive-include logbook/base/exportext/* *
recursive-include logbook/base/rankext/* *
recursive-include logbook/base/recordext/* *

recursive-include logbook/modules/*/static *
recursive-include logbook/modules/*/templates *
recursive-include logbook/modules/*/testsuite *
recursive-include logbook/modules/*/recordext/* *
recursive-include logbook/modules/*/converterext *
recursive-include logbook/modules/*/documentext *
recursive-include logbook/modules/*/editorext *
recursive-include logbook/modules/*/exportext *
recursive-include logbook/modules/*/format_elements *
recursive-include logbook/modules/*/format_templates *
recursive-include logbook/modules/*/output_formats *
recursive-include logbook/modules/*/rankext *

recursive-exclude logbook/testsuite *
recursive-exclude * *.pyc *.pyo
